.container {
  width: 17rem;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  text-align: left;
}
.skill-box {
  /* text-align: center; */
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
  /* color: white; */
  border-radius: 20px;
}
.skill-wrapper {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
}
h1.name {
  font-size: xxx-large;
  font-weight: 600;
  color: #ce5884;
}
h3 {
  width: 5rem;
  display: flex;
}
.skills-heading {
  width: 50%;
  text-align: left;
}
.HTML {
  width: 80%;
  background-color: #ee9f9f;
}
.CSS {
  width: 70%;
  background-color: #00e6ee;
}
.JavaScript {
  width: 70%;
  background-color: #ddec6e;
}
.React {
  width: 60%;
  background-color: #43af94;
}
.Redux {
  width: 80%;
  background-color: #6897e3;
}
.NPM {
  width: 50%;
  background-color: #aa59d6;
}
.MUI {
  width: 70%;
  background-color: #943145;
}
.Bootstrap {
  width: 70%;
  background-color: #a2f69f;
}
.SCSS {
  width: 80%;
  background-color: #f3a9e9;
}
.Agile {
  width: 70%;
  background-color: #eb9360;
}

.Github {
  width: 70%;
  background-color: #724040;
}
.VS {
  width: 80%;
  background-color: #2a4d4e;
}
.Docker {
  width: 50%;
  background-color: rgb(56, 56, 100);
}
.Jenkins {
  width: 70%;
  background-color: rgb(161, 161, 51);
}
.Postman {
  width: 70%;
  background-color: rgb(145, 229, 18);
}
.soft-skill-wrapper {
  border-radius: 5%;
  background: #6897e3;
  box-shadow: 0 0 5px #919191;
  padding: 0.5rem;
  width: fit-content !important;
}
.soft-skill-h3 {
  width: fit-content;
}
.skill {
  width: 45%;
}
div.skill-cards.width-fit-contnt {
  max-width: fit-content;
}
.tools-softSkills-wrapper {
  display: flex;
}

/* for rotation of skill imgs*/
.rotate:hover {
  transform: scale(1.05);
  animation: rotation 1s 3 linear;
}
.hnvVol {
  display: flex;
  flex-direction: row;
  width: 70vh;
}
.carousel-wrapper {
  width: 50rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  /* font-weight: 800;*/
  font-size: 2rem;
  text-transform: uppercase;
}

/*fot title of job*/
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

p.line-1 {
  max-width: 19rem;
  margin: 0;
  color: #ce5884;
}
.line-1 {
  position: relative;
  top: 50%;
  /* width: 24em; */
  /* margin: 0 auto; */
  /* width: 24rem !important; */
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(15) 1s 1 normal both,
    blinkTextCursor 500ms steps(15) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
