.container {
  width: 17rem;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  text-align: left;
}
.skill-box {
  /* text-align: center; */
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
  /* color: white; */
  border-radius: 20px;
}
.skill-wrapper {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
}
h1.name {
  font-size: xxx-large;
  font-weight: 600;
  color: #d02e65;
}
h3 {
  width: 5rem;
  display: flex;
}
.skills-heading {
  width: 50%;
  text-align: left;
}
.HTML {
  width: 80%;
  background-color: #ee9f9f;
}
.CSS {
  width: 70%;
  background-color: #00e6ee;
}
.JavaScript {
  width: 70%;
  background-color: #ddec6e;
}
.React {
  width: 60%;
  background-color: #43af94;
}
.Redux {
  width: 80%;
  background-color: #6897e3;
}
.NPM {
  width: 50%;
  background-color: #aa59d6;
}
.MUI {
  width: 70%;
  background-color: #943145;
}
.Bootstrap {
  width: 70%;
  background-color: #a2f69f;
}
.SCSS {
  width: 80%;
  background-color: #f3a9e9;
}
.Agile {
  width: 70%;
  background-color: #eb9360;
}

.Github {
  width: 70%;
  background-color: #724040;
}
.VS {
  width: 80%;
  background-color: #2a4d4e;
}
.Docker {
  width: 50%;
  background-color: rgb(56, 56, 100);
}
.Jenkins {
  width: 70%;
  background-color: rgb(161, 161, 51);
}
.Postman {
  width: 70%;
  background-color: rgb(145, 229, 18);
}
.soft-skill-wrapper {
  border-radius: 5%;
  background: #6897e3;
  box-shadow: 0 0 5px #919191;
  padding: 0.5rem;
  width: fit-content !important;
}
.soft-skill-h3 {
  width: fit-content;
}
.skill {
  width: 45%;
}
div.skill-cards.width-fit-contnt {
  max-width: fit-content;
}
.tools-softSkills-wrapper {
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .wrapper-skills {
    display: block !important;
  }
  .skill-wrapper {
    justify-content: space-around;
  }
  .skills-heading {
    width: 100%;
  }
  .skill {
    width: 100%;
  }
}
/* for rotation of skill imgs*/
.rotate:hover {
  animation: rotation 0.3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*for title animation color*/
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

/* .container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
} */

.title {
  font-family: "Montserrat", sans-serif;
  /* font-weight: 800;*/
  font-size: 2rem;
  text-transform: uppercase;
}
/* for profile img fade in effect*/
.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  transition: opacity 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*glow on hover*/
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(117, 29, 60);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transform: scale(1.05);
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #c1a5a5,
    #e39d67,
    #b8b577,
    #81ca64,
    #73b0a6,
    #667bd7,
    #ad7bdf,
    #d466be,
    #ad7171
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(117, 29, 60);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(117, 29, 60);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
