h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  font-family: "Poppins";
  width: 100%;
  margin: 0%;
  background-color: black;
  color: rgb(255, 255, 255);
}
h1,
p {
  font-family: "Poppins";
}
.m-5 {
  /* margin: 5rem 0; */
  padding: 6rem 0;
}
.skil {
  color: #d6597d;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
.text_align-left {
  width: 90%;
  text-align: left;
}
img {
  align-self: center;
}
/* .home-wrapper {
  /* display: flex; */
/* margin: 1rem; */

.Logo1 {
  /* background-image: url(./NishaRemovedBg.png); */
  /* width: 40rem; */
  background-repeat: no-repeat;
  height: 16rem;
  background-position-x: center;
  border-radius: 50%;
  border: 2px solid rgb(204, 204, 204);
  float: right;
  margin-top: 1rem;
}
.title-container {
  text-align: left;
}
p.info {
  text-align: justify;
  width: 70%;
  /* margin-top: 0.5rem; */
  font-family: "Montserrat";
  font-style: italic;
}
.job-title {
  font-style: italic;
}
.skillCard {
  box-shadow: 0 0 10px #4a4446;
  border-radius: 25px;
  margin: 1rem;
  justify-content: space-between;
}

.skills-wrapper {
  display: flex;
  padding-bottom: 3rem;
  flex-wrap: wrap;
}
.project-wrapper {
  flex-wrap: nowrap;
}
.icons-wrapper {
  margin-top: 1rem;
}
a {
  margin: 1rem;
}
.modal-wrapper {
  background-color: white;
  width: fit-content;
  margin-top: 15%;
  padding: 1rem;
}

div.eXNYHM,
.dKRZcY {
  text-align-last: center;
  padding: 1rem;
  background-color: #0a0909;
  box-shadow: 0 0 15px #4c4444;
}
div.eXNYHM a.projectlinks h6 {
  text-align: justify;
  margin: 0;
}
div.eXNYHM a.projectlinks {
  margin: 0;
  color: rgb(206 88 132);
}
div.eXNYHM a.projectlinks p {
  font-size: 1rem;
  text-align: justify;
}
.projectTitle {
  font-size: 1.5rem;
  margin: 0;
  color: white;
}
.my-projects {
  text-align: center;
}
.modal-wrapper h1 {
  color: black;
}
.MuiBackdrop-root.MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
button.continueBtn {
  margin: 1rem 0 !important;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-05 {
  margin-bottom: 0.5rem;
}
.d-flex {
  display: flex;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1rem !important;
  color: #ffffff;
  font-weight: 600;
}
nav {
  /* background-image: linear-gradient(to right, white, #eec3cf); */
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0%;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
}
.bg-black a {
  margin-right: 2rem;
  font-size: 1rem;
}
.skill-INFO {
  width: 100% !important;
}

/*bnt animation*/
.cv-btn {
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 2px rgb(255 255 255);
  border: 1px solid #ce5884;
  color: #ce5884;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;

  animation: wiggle 2s linear 4s;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
#skills,
#contacts {
  background-color: #fff4f7;
  color: #d02e65;
  text-align: center;
}

.skill-heading {
  margin: 3rem 0 2rem 0;
}
.myname {
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
}
div.skillCard {
  display: flex;
  width: 15rem;
  text-align-last: center;
  max-width: 15rem;
  transition: transform 0.2s;
  background: rgb(0, 0, 0);
  color: #fff4f7;
  padding: 0;
}
.skills-wrapper {
  justify-content: center;
  align-items: center;
}
.name {
  border: none;
  color: #ce5884;
  font-size: 2rem;
  width: 100%;
}
@media only screen and (max-width: 1700px) and (min-width: 701px) {
  .Logo1 {
    /* position: absolute; */
    width: auto;
    top: 4rem;
  }
  .d-block {
    display: block !important;
  }
  .title-container {
    /* margin-top: 17rem; */
    text-align: left;
  }
  .home-wrapper {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 7rem;
    padding: 9rem 0;
  }

  div.skillCard .skill-cards {
    width: 13rem;
    color: white;
  }

  div.project-card:hover {
    /* width: 101%; */
    transform: scale(1.05);
  }
  .illusion {
    background-image: url(./Coding.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 15rem;
    float: right;
    position: absolute;
    left: 66%;
  }
}

@media only screen and (max-width: 700px) and (min-width: 350px) {
  #home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    align-items: flex-start;
  }
  .bg-black a {
    margin-right: 25px;
    /* font-size: 1rem; */
  }
  .home-container {
    padding: 0 5rem;
    width: 100%;
  }
  a {
    font-size: 0.9rem !important;
  }
  .title-container {
    max-width: 90%;
    width: 100%;
  }
  p.line-1 {
    width: 65%;
    max-width: 65%;
    font-size: 2rem;
  }
  p.info {
    width: 70%;
  }
  .anim-typewriter {
    animation: typewriter 4s steps(15) 1s 1 normal both,
      blinkTextCursor 500ms steps(15) infinite normal;
  }
  #skills {
    display: block;
  }
  div.skill-cards {
    max-width: 3rem !important;
    max-height: 3rem !important;
  }
  div.skillCard {
    max-width: 11rem;
  }
  .rec-item-wrapper {
    width: 400px !important;
  }
  .rec-swipable {
    flex-direction: column !important;
  }
  .rec-slider {
    place-content: center;
    right: 0 !important;
    left: 0;
  }
  /* #contacts {
    color: indigo;
  } */
  .wrapper-skills {
    display: block !important;
  }
  .skill-wrapper {
    justify-content: space-around;
  }
  .skills-heading {
    width: 100%;
  }
  .skill {
    width: 100%;
  }
  .illusion {
    background-image: url(./Coding.svg);
    width: 70%;
    height: 26%;
    background-repeat: no-repeat;
    background-size: 15rem;
    position: absolute;
    left: calc(100% - 70%);
    top: calc(100% - 80%);
  }
}

.title-wrapper {
  display: flex;
}
div.skill-cards {
  /* width: 7rem !important; */
  /* color: white; */
  max-width: 5rem;
  max-height: 5rem;
  padding: 1rem;
  text-align-last: center;
  /* background-color: #24292f; */
}
div.skill-cards img {
  object-fit: contain;
}
div.skill-cards img.reduxSize {
  object-fit: cover;
}
.skillCard a {
  color: rgb(255, 255, 255);
}
.skillCard {
  transition: transform 0.2s;
}
.project-card:hover {
  /* width: 101%; */
  transform: scale(1.05);
}
h5.info {
  margin: 0;
}
.icons-wrapper a svg {
  transition: transform 0.2s;
}
.icons-wrapper a svg:hover {
  transform: scale(1.1);
}
